{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span>Количка</span>
                </p>
                <h1 class="mb-0 bread">Количка</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Общо</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                        <tr class="text-center">
                            <td class="product-remove">
                                <a href="{{ item.item.get_remove_from_cart_url }}"><span
                                        class="ion-ios-close"></span></a>
                            </td>

                            <td class="image-prod">
                                <div class="img" style="background-image:url({% static item.image %});"></div>
                            </td>
                            <td class="product-name">
                                <h3><a href="{% url 'view item' item.slug %}">{{item.title}}</a></h3>
                            </td>
                            <td class="price">{{item.discount_price|floatformat:2|intcomma}} лв.</td>
                            <td class="quantity">
                                <div class="input-group mb-3">
                                    <input type="number" name="quantity" class="quantity form-control input-number"
                                           value="{{item.quantity}}" min="1" max="100">
                                </div>
                            </td>
                            <td class="total">{{item.total|floatformat:2|intcomma}} лв.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p><a href="{% url 'view cart' %}" class="btn btn-primary py-3 px-4">Обнови Количка</a></p>

                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Ваучер код</h3>
                    <p>Въведете номер на ваучер ако имате.</p>
                    <form action="{% url 'add coupon' %}" method="POST" class="info">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Ваучер код</label>
                            {{ couponform.code }}
                        </div>
                        <p>
                            <button class="btn btn-primary py-3 px-4" type="submit">Използвай ваучер</button>
                        </p>

                    </form>
                </div>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Безплатна доставка над 100 лв.</h3>

                </div>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Количка общо</h3>
                    <p class="d-flex">
                        <span>Междинна сума</span>
                        <span>{{items.0.get_total|floatformat:2|intcomma}} лв.</span>
                    </p>
                    <p class="d-flex">
                        <span>Доставка</span>
                        <span>{{items.0.get_shipping|floatformat:2|intcomma}} лв.</span>
                    </p>
                    <p class="d-flex">
                        <span>Отстъпка</span>
                        {% if items.0.coupon.amount %}
                        <span>-{{items.0.get_discount|floatformat:2|intcomma}} лв.</span>
                        {% else %}
                        <span>0.00 лв.</span>
                        {% endif %}
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Общо</span>
                        <span>{{items.0.get_final_price|floatformat:2|intcomma}} лв.</span>
                    </p>
                </div>
                <p><a href="{% url 'view checkout' %}" class="btn btn-primary py-3 px-4">Към плащане</a></p>
            </div>
        </div>
    </div>
</section>
{% include 'subscribe.html' %}

{% endblock %}