{% extends 'base.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block body %}


<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span><a
                        href="{% url 'view blog' %}">Блог</a></span></p>
                <h1 class="mb-0 bread">Блог</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 ftco-animate">
                {% if user == object.author or user_group %}
                <form method="POST" class="p-5 bg-light" enctype="multipart/form-data">
                    <p><strong>Сигурен ли си?</strong></p>
                    {% csrf_token %}
                    <button class="btn btn-primary py-3 px-5">Изтрий</button>
                    <a href="{% url 'view article' slug %}" class="btn btn-primary py-3 px-5">Откажи</a>
                </form>
                {% else %}
                <h1>{{user}} нямаш работа тук!</h1>
                {% endif %}
            </div>


            {% include 'blog-right.html' %}
        </div>
    </div>
</section>
{% endblock %}