<!DOCTYPE html>
{% load static %}
{% load humanize %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
    table {
        width: 100%;
    }
    th {
        background-color: #00e676;
    }
    th, td {
    border: 1px solid black;
}
    </style>
</head>
<body>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Общо</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr class="text-center">
                            <td>{{item.item}}</td>
                            <td>{{item.get_item_price}} лв.</td>
                            <td>{{item.quantity}} бр.</td>
                            <td>{{item.get_total_item_price}} лв.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <thead class="thead-primary">
                        <th colspan="2">Доставка</th>
                        </thead>
                        <tr class="text-center">
                            <td>Имена и телефон:</td>
                            <td>{{shipping.shipping_address.first_name}} {{shipping.shipping_address.last_name}} -
                                {{shipping.shipping_address.phone}}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td>Адрес за доставка:</td>
                            <td>{{shipping.shipping_address.country}}, {{shipping.shipping_address.town}},
                                {{shipping.shipping_address.street_address}}
                                {{shipping.shipping_address.apartment_address}}
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td>e-mail:</td>
                            <td>{{shipping.shipping_address.email}}</td>
                        </tr>

                    </table>
                    <table class="table">
                        <thead class="thead-primary">
                        <th colspan="2">Крайна цена</th>
                        </thead>
                        <tr class="text-center">
                            <td>Поръчка:</td>
                            <td>{{shipping.get_total|floatformat:2|intcomma}} лв.</td>
                        </tr>
                        <tr class="text-center">
                            <td>Доставка:</td>
                            <td>{{shipping.get_shipping|floatformat:2|intcomma}} лв.</td>
                        </tr>
                        <tr class="text-center">
                            <td>Отстъпка:</td>
                            {% if shipping.coupon %}
                            <td>-{{shipping.coupon.amount|floatformat:2|intcomma}} лв.</td>
                            {% else %}
                            <td>0 лв.</td>
                            {% endif %}
                        </tr>
                        <tr class="text-center">
                            <td>Общо:</td>
                            <td>{{shipping.get_final_price|floatformat:2|intcomma}} лв.</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<p>Поздрави, Tigernuts Bulgaria.</p>
</body>
</html>