{% load static %}
<section id="home-section" class="hero">
<div class="home-slider owl-carousel">
<div class="slider-item" style="background-image: url({% static 'images/mehanicno-belena-tigrova-adka-bez-alergeni-image_5fdbdc5704ef4_800x800.jpeg' %});">
<div class="overlay"></div>
<div class="container">
<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
<div class="col-md-12 ftco-animate text-center">
<h1 class="mb-2">Храна, която няма алергени</h1>
<h2 class="subheading mb-4">Ние доставяме органични ядки</h2>
<p><a href="{% url 'view about' %}" class="btn btn-primary">Повече информация</a></p>
</div>
</div>
</div>
</div>
<div class="slider-item" style="background-image: url({% static 'images/mehanicno-belena-tigrova-adka-bez-alergeni-image_5fdbdc5704ef4_800x800.jpeg' %});">
<div class="overlay"></div>
<div class="container">
<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
<div class="col-sm-12 ftco-animate text-center">
<h1 class="mb-2">100% Органична храна без глутен</h1>
<h2 class="subheading mb-4">Ние доставяме органични ядки</h2>
<p><a href="{% url 'view about' %}" class="btn btn-primary">Повече информация</a></p>
</div>
</div>
</div>
</div>
</div>
</section>

{% include 'cool-line.html' %}

