{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<h1 class="text-center">Register Form</h1>
<div class="row d-flex justify-content-center">


    <ul class = "messages">
        {% for msg in messages %}

        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>

        {% endfor %}
    </ul>

    <form action="{% url 'adduser' %}" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

          <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
    </form>
</div>

{% endblock %}