{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load cart_template_tags %}

{% block body %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 ftco-animate text-center">
<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span>Количка</span></p>
<h1 class="mb-0 bread">Количка</h1>
</div>
</div>
</div>
</div>
<section class="ftco-section ftco-cart">
<div class="container">
<div class="row">
<div class="col-md-12 ftco-animate">
<div class="cart-list">
<table class="table">
<thead class="thead-primary">
<tr class="text-center">
<th>Продукт</th>
<th>Цена</th>
<th>Количество</th>
<th>Общо</th>
</tr>
</thead>
<tbody>
{% for item in items %}


    {% for i in item.items.all %}
    <tr class="text-center">
        <td>{{i}}</td>
        <td>{{i.get_item_price}} лв.</td>
        <td>{{i.quantity}} бр.</td>
        <td>{{i.get_total_item_price}} лв.</td>
    </tr>
    {% endfor %}

{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</section>


{% endblock %}