{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span>Общи условия</span>
                </p>
                <h1 class="mb-0 bread">Общи условия</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section contact-section bg-light">
    <h3 class="text-center">ОБЩИ УСЛОВИЯ НА ОНЛАЙН МАГАЗИН tigernubulgaria.com</h3>
    <div class="container">
        <h4 class="text-center">ПРЕДМЕТ</h4>
        <div class="row d-flex mb-5 contact-info">
            <p>Чл. 1. Настоящите общи условия са предназначени за регулиране на отношенията между Тайгърнът ЕООД, ЕИК
                204318116, със седалище и адрес на управление: гр. София 1715, ж.к. Младост, ул. Филип Аврамов, бл. 433,
                вх. 1, ет. 1, п.к. 30, наричано по-долу за краткост ДОСТАВЧИК, и клиентите, наричани по-долу ПОЛЗВАТЕЛИ,
                на платформата за електронна търговия TigernutBulgaria, наричана по-долу „tigernubulgaria.com”.</p>
            <p></p>
            <p>ІІ. ДАННИ ЗА ДОСТАВЧИКА</p>
            <p></p>
            <p>Чл. 2. Информация съгласно Закона за електронната търговия и Закона за защита на потребителите:</p>
            <p></p>
            <p>Наименование на Доставчика: „Тайгърнът ЕООД“</p>
            <p>Седалище и адрес на управление: гр. София 1715, ж.к. Младост, ул. Филип Аврамов, бл. 433, вх. 1, ет. 1,
                п.к. 30</p>
            <p>Адрес за упражняване на дейността и адрес за отправяне на жалби от потребители: гр. София 1715, ж.к.
                Младост, ул. Филип Аврамов, бл. 433, вх. 1, ет. 1, п.к. 30</p>
            <p>Данни за кореспонденция: tigernut.bulgaria@gmail.com, телефон 359888266833</p>
            <p>Вписване в публични регистри: ЕИК 204318116</p>
            <p>Надзорни органи:</p>
            <p>(1) Комисия за защита на личните данни</p>
            <p></p>
            <p>Адрес: гр. София, ул. „Проф. Цветан Лазаров” № 2,</p>
            <p></p>
            <p>тел.: (02) 940 20 46</p>
            <p></p>
            <p>факс: (02) 940 36 40</p>
            <p></p>
            <p>Email: kzld@government.bg, kzld@cpdp.bg</p>
            <p></p>
            <p>Уеб сайт: www.cpdp.bg</p>
            <p></p>
            <p>(2) Комисия за защита на потребителите</p>
            <p></p>
            <p>Адрес: 1000 гр. София, пл."Славейков" №4А, ет.3, 4 и 6,</p>
            <p></p>
            <p>тел.: 02 / 980 25 24</p>
            <p></p>
            <p>факс: 02 / 988 42 18</p>
            <p></p>
            <p>гореща линия: 0700 111 22</p>
            <p></p>
            <p>Уеб сайт: www.kzp.bg</p>
            <p></p>
            <p>Регистрация по Закона за данък върху добавената стойност 204318116</p>
            <p>III. ХАРАКТЕРИСТИКИ НА ПЛАТФОРМАТА</p>
            <p></p>
            <p>Чл. 3. TigernutBulgaria e платформа за електронна търговия, достъпна на адрес в Интернет
                tigernubulgaria.com, чрез която Ползвателите имат възможност да сключват договори за покупко-продажба и
                доставка на предлаганите от Доставчика в платформата стоки, включително следното:</p>
            <p></p>
            <p>Да извършат регистрация и създаване на профил за преглеждане на електронния магазин на Доставчика и
                използване на допълнителните услуги за предоставяне на информация;</p>
            <p>Да преглеждат стоките, техните характеристики, цени и условия за доставка;</p>
            <p>Да сключват с Доставчика договори за покупко-продажба и доставка на стоките, предлагани от в платформата
                tigernubulgaria.com;</p>
            <p>Да извършват всякакви плащания във връзка със сключените договори чрез платформата tigernubulgaria.com
                електронни средства за разплащане.</p>
            <p>Да получават информация за нови стоки, предлагани от Доставчика в платформата tigernubulgaria.com;</p>
            <p>Да извършват електронни изявления във връзка със сключването или изпълнението на договори с Доставчика в
                платформата tigernubulgaria.com чрез интерфейса на страницата на tigernubulgaria.com, достъпна в
                Интернет;</p>
            <p>Да бъдат уведомявани за правата, произтичащи от закона, предимно чрез интерфейса на платформата
                tigernubulgaria.com в Интернет;</p>
            <p>Да упражняват правото си на отказ, когато е приложимо, по Закона за защита на потребителите.</p>
            <p>Чл. 4. Доставчикът в платформата tigernubulgaria.com организира доставянето на стоките и гарантира
                правата на Ползвателите, предвидени в закона, в рамките на добросъвестността, възприетите в практиката,
                потребителското или търговското право критерии и условия.</p>
            <p></p>
            <p>Чл. 5. (1) Ползвателите сключват с Доставчика в платформата tigernubulgaria.com договор за
                покупко-продажба на стоките, на адрес tigernubulgaria.com Договорът се сключва на български език и се
                съхранява в базата данни на Доставчика в платформата.</p>
            <p></p>
            <p>(2) По силата на сключения с Ползвателите договор за покупко-продажба на стоки, Доставчикът в платформата
                tigernubulgaria.com се задължава да организира доставката и прехвърлянето на собствеността на Ползвателя
                на определените от него чрез интерфейса в платформата стоки. Ползвателите имат право да поправят грешки
                при въвеждането на информация не по-късно от отправяне на изявлението за сключване на договора
                Доставчика в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(3) Ползвателите заплащат на Доставчика на платформата tigernubulgaria.com възнаграждение за доставените
                стоки съгласно условията, определени в платформата tigernubulgaria.com и настоящите общи условия.
                Възнаграждението е в размер на цената, обявена в платформата tigernubulgaria.com</p>
            <p></p>
            <p>Чл. 6. (1) Ползвателят и Доставчикът в платформата tigernubulgaria.com се съгласяват, че всички изявления
                помежду им във връзка със сключването и изпълнението на договора за покупко-продажба могат да бъдат
                извършвани по електронен път и чрез електронни изявления по смисъла на Закона за електронния документ и
                електронния подпис и чл. 11 от Закона за електронната търговия.</p>
            <p></p>
            <p>(2) Предполага се, че електронните изявления, извършени от Ползвателите на сайта са извършени от лицата,
                посочени в данните, предоставени от Ползвателя при извършване на регистрация, ако Ползвателят е въвел
                съответното име и парола за достъп.</p>
            <p></p>
            <p>РЕГИСТРАЦИЯ ЗА ИЗПОЛЗВАНЕ НА tigernubulgaria.com</p>
            <p>Чл. 7. (1) За да използва tigernubulgaria.com за сключване на договори за покупко-продажба на стоки,
                Ползвателят следва да въведе избрани от него име и парола за отдалечен достъп или да се легитимира чрез
                профила си във Facebook или Google, с което се счита, че е приел настоящите общи условия.</p>
            <p></p>
            <p>(2) Името и паролата за отдалечен достъп се определят от Ползвателя, чрез извършване на онлайн
                регистрация в сайта на Доставчика в платформата tigernubulgaria.com, съобразно посочената в него
                процедура. Ползвателите имат възможност да извършват поръчки доставка на стоки и профил от социалните
                мрежи Facebook и Google.</p>
            <p></p>
            <p>(3) С попълване на данните си в потребителската кошница и натискане на бутона "Поръчай", Ползвателят
                декларира, че е запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава безусловно
                да ги спазва.</p>
            <p></p>
            <p>(4) Доставчикът потвърждава извършената от Ползвателя поръчка по електронна поща. Създава се акаунт на
                Ползвателя и между него и Доставчика възникват договорни отношения.</p>
            <p></p>
            <p>(5) При извършване на регистрацията или поръчката Ползвателят се задължава да предостави верни и актуални
                данни. Ползвателят се задължава при промяна своевременно да актуализира данните, посочени в
                регистрацията или поръчката си.</p>
            <p></p>
            <p>ТЕХНИЧЕСКИ СТЪПКИ ЗА СКЛЮЧВАНЕ НА ДОГОВОР ЗА ПОКУПКО-ПРОДАЖБА</p>
            <p>Чл. 8. (1) Ползвателите използват предимно интерфейса на страницата на Доставчика в платформата
                tigernubulgaria.com за да сключват договори за покупко-продажба на предлаганите от доставчиците в
                платформата tigernubulgaria.com стоки.</p>
            <p></p>
            <p>(2) В случаите на поръчка на стоки без извършване на регистрация от страна на Ползвателя, последният
                приема тези общи условия в момента на доставката. Счита се, че Ползвателят е приел настоящите общи
                условия с приемането на доставката на стоките.</p>
            <p></p>
            <p>Чл. 9. Ползвателите сключват договора за покупко-продажба на стоките в платформата tigernubulgaria.com по
                следната процедура:</p>
            <p></p>
            <p>(1) Влизане в системата за извършване на поръчки в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(2) Избиране на една или повече от предлаганите от Доставчика в платформата tigernubulgaria.com стоки и
                добавянето им към списък със стоки за покупка.</p>
            <p></p>
            <p>(3) Предоставяне на необходимите данни за индивидуализация на Ползвателя като страна по договора.</p>
            <p></p>
            <p>(4) Предоставяне на данни за извършване на доставката;</p>
            <p></p>
            <p>(5) Избор на способ и момент за плащане на цената.</p>
            <p></p>
            <p>(6) Потвърждение на поръчката;</p>
            <p></p>
            <p>СЪДЪРЖАНИЕ НА ДОГОВОРА</p>
            <p>Чл. 10. (1) Доставчикът и Ползвателите сключват отделни договори за покупко-продажба на стоките, заявени
                от Ползвателите, независимо че са избрани с едно електронно изявление и от един списък със стоки за
                покупка.</p>
            <p></p>
            <p>(2) Доставчикът може да организира заедно и едновременно доставката на поръчаните с отделните договори за
                покупко-продажба стоки.</p>
            <p></p>
            <p>(3) Правата на Ползвателите във връзка с доставените стоки се упражняват отделно за всеки договор за
                покупко-продажба. Упражняването на права във връзка с доставена стока не засяга и няма действие по
                отношение на договорите за покупко-продажба на другите стоки. В случай че Ползвателят има качеството на
                потребител по смисъла на Закона за защита на потребителите, упражняването на право на отказ от договора
                за покупко-продажба на определена стока не засяга договорите за покупко-продажба на другите стоки,
                доставени на потребителя.</p>
            <p></p>
            <p>Чл. 11. При упражняване на правата по договора за покупко-продажба Ползвателят е задължен да посочва
                точно и недвусмислено договора и стоката, по отношение, на които упражнява правата.</p>
            <p></p>
            <p>Чл. 12. Ползвателят може да плати цената за отделните договори за покупко-продажба наведнъж при
                извършване на поръчката на стоките или при тяхната доставка.</p>
            <p></p>
            <p>VII. ОСОБЕНИ КЛАУЗИ, КОИТО СЕ ПРИЛАГАТ СПРЯМО ЛИЦА, КОИТО ИМАТ КАЧЕСТВОТО ПОТРЕБИТЕЛ ПО СМИСЪЛА НА ЗАКОНА
                ЗА ЗАЩИТА НА ПОТРЕБИТЕЛИТЕ</p>
            <p></p>
            <p>Чл. 13. Правилата на настоящия раздел VII от тези общи условия се прилагат единствено спрямо Ползватели,
                за които според данните, посочени за сключване на договора за покупко-продажба или при регистрацията в
                tigernubulgaria.com, може да се направи извод, че са Потребители по смисъла на Закона за защита на
                потребителите, Закона за електронната търговия и/или на Директива 2011/83/ЕО на Европейския парламент и
                на Съвета от 25-ти октомври 2011 г.</p>
            <p></p>
            <p>Чл. 14. (1) Основните характеристики на стоките, предлагани от Доставчика в платформата
                tigernubulgaria.com са определени в профила на всяка стока в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(2) Цената на стоките с включени всички данъци и такси се определя от Доставчика в платформата
                tigernubulgaria.com в профила на всяка стока в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(3) Стойността на пощенските или транспортните разходи, невключени в цената на стоките се определя от
                Доставчика в платформата tigernubulgaria.com и се предоставя като информация на Ползвателите при
                избиране на стоките за сключване на договора за покупко-продажба;</p>
            <p></p>
            <p>(4) Начините на плащане, доставка и изпълнение на договора се определят в настоящите общи условия и
                информацията, предоставена на Ползвателя посредством в механизмите в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(5) Информацията, предоставяна на Ползвателите по този член е актуална към момента на визуализацията й в
                платформата tigernubulgaria.com преди сключването на договора за покупко-продажба.</p>
            <p></p>
            <p>(6) Ползвателите се съгласяват, че цялата изискуема от Закона за защита на потребителите информация може
                да бъде предоставяна чрез интерфейса на платформата tigernubulgaria.com или електронна поща.</p>
            <p></p>
            <p>Чл. 15. (1) Потребителят се съгласява, че доставчиците в платформата tigernubulgaria.com имат право да
                приемат авансово плащане за сключените с Потребителя договори за покупко-продажба на стоки и тяхната
                доставка.</p>
            <p></p>
            <p>(2) Потребителят избира самостоятелно дали да заплати на Доставчика в платформата tigernubulgaria.com
                цената за доставка на стоките преди или в момента на доставката им.</p>
            <p></p>
            <p>(3) В случай, че стойността на поръчката на Потребителя е равностойна или надвишава 15 000 лв., плащането
                се извършва само чрез превод или внасяне по платежна сметка на Доставчика.</p>
            <p></p>
            <p>Чл. 16. (1) Потребителят има право, без да дължи обезщетение или неустойка и без да посочва причина, да
                се откаже от сключения договор в срок 14 дни, считано от датата на приемане на стоката от Доставчика
                чрез единния формуляр за отказ от договора, достъпен на сайта на Доставчика в платформата
                tigernubulgaria.com на адрес Упражни правата си! и в Приложение № 1 към тези общи условия. Информация за
                упражняване на правото на отказ е достъпна на Упражни правата си! и в Приложение № 2 към тези общи
                условия.</p>
            <p></p>
            <p>(2) Правото на отказ по ал. 1 не се прилага в следните случаи:</p>
            <p></p>
            <p>за доставка на стоки, изработени по поръчка на потребителя или съобразно неговите индивидуални
                изисквания;</p>
            <p>за доставка на стоки, които поради своето естество могат да влошат качеството си или имат кратък срок на
                годност;</p>
            <p>за доставка на запечатани стоки, които са разпечатани след доставката им и не могат да бъдат върнати
                поради съображения, свързани с хигиената или защита на здравето;</p>
            <p>за доставка на стоки, които след като са били доставени и поради естество им са се смесили с други стоки,
                от които не могат да бъдат отделени;</p>
            <p>за доставка на запечатани звукозаписи или видеозаписи или запечатан компютърен софтуер, които са
                разпечатани след доставката, включително и кодове за активиране на лицензи на софтуер, функции в софтуер
                или виртуални средства за разплащане.</p>
            <p>за доставка на вестници, периодични издания или списания с изключение на договори за абонамент за
                доставката на такива издания;</p>
            <p>(3) Когато доставчикът в платформата tigernubulgaria.com не e изпълнил задълженията си за предоставяне на
                информация, определени в Закона за защита на потребителите, Потребителят има право да се откаже от
                сключения договор в срок до една година и 14 дни, считано от датата на получаване на стоката. Когато
                информацията е предоставена на потребителя в рамките на срока за отказ, същият започва да тече от датата
                на предоставянето й. Потребителят има право да отправи изявлението за отказ по този член директно пред
                Доставчика чрез единния формуляр за отказ от договора, достъпен на сайта на Доставчика в платформата
                tigernubulgaria.com на адрес Приложение № 1 към тези общи условия.</p>
            <p></p>
            <p>(4) Когато Потребителят е упражнил правото си на отказ от договора от разстояние или от договора извън
                търговския обект, Доставчикът възстановява всички суми, получени от потребителя, включително разходите
                за доставка, без неоправдано забавяне и не по-късно от 14 дни, считано от датата, на която е бил
                уведомен за решението на потребителя да се откаже от договора. Доставчикът възстановява получените суми,
                като използва същото платежно средство, използвано от потребителя при първоначалната трансакция, освен
                ако потребителят е изразил изричното си съгласие за използване на друго платежно средство и при условие
                че това не е свързано с разходи за потребителя.</p>
            <p></p>
            <p>(5) При упражняване на правото на отказ, разходите за връщане на доставените стоки се приспадат от сумите
                за възстановяване по ал. 4, освен в случаите, когато потребителят организира сам и за своя сметка
                връщането на стоките. Доставчикът няма задължение да възстанови допълнителните разходи за доставка на
                стоките, когато потребителят изрично е избрал начин на доставяне на стоките, различен от най-евтиния вид
                стандартна доставка, предлагана от Доставчика.</p>
            <p></p>
            <p>(6) Потребителят се задължава да съхранява получените Доставчика в платформата стоки и да осигури
                запазването на тяхното качество и безопасност по време на срока по ал. 1.</p>
            <p></p>
            <p>(7) Потребителят може да упражни правото си на отказ от договора с Доставчика като отправи писмено
                изявление до Доставчика чрез стандартния формуляр за отказ от договора, достъпен на адрес {turms_url} в
                платформата tigernubulgaria.com и в Приложение № 1 към тези общи условия.</p>
            <p></p>
            <p>(8) Когато доставчикът в платформата tigernubulgaria.com не е предложил да прибере стоките сам, той може
                да задържи плащането на сумите на Потребителя докато не получи стоките или докато потребителят не
                представи доказателство, че е изпратил стоките обратно, в зависимост от това, кое от двете се е случило
                по-рано.</p>
            <p></p>
            <p>(10) Независимо от горните хипотези, Потребителят се задължава да върне стоката в търговски вид, който
                позволява последващата й продажба, освен ако разопаковането на стоката води до очевидно нарушаване на
                търговския вид на стоката, като но не само разрушима кутия, херметически опаковки и други сходни случаи.
                В случай на нарушен търговски вид на стоката, Доставчикът има право по своя преценка да откаже да приеме
                отказ от договора или да начисли на Потребителя разходи за възстановяване на стоката в търговски
                вид.</p>
            <p></p>
            <p>(11) В случай на упражняване на правото на отказ по този член, счита се че Потребителят е упражнил и
                право на отказ по отношение на бонус съдържанието, принадлежащо към стоката.</p>
            <p></p>
            <p>Чл. 17. (1) Срокът на доставка на стоката е определен за всяка стока поотделно при сключване на договора
                с потребителя чрез сайта на Доставчика в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(2) В случай че Потребителят и Доставчикът в платформата tigernubulgaria.com не са определили срок за
                доставка, срокът на доставка на стоките е 30 календарни дни, считано от датата, следваща изпращането на
                поръчката на потребителя до Доставчика чрез сайта на Доставчика в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(3) Ако Доставчикът в платформата tigernubulgaria.com не може да изпълни договора поради това, че не
                разполага с поръчаните стоки, той е длъжен да уведоми за това Потребителя и да възстанови платените от
                него суми.</p>
            <p></p>
            <p>Чл. 18. Доставчикът в платформата tigernubulgaria.com се задължава да спазва всички изисквания,
                установени в българското законодателство относно етикетирането, рекламата и продажбата на хранителни
                добавки.</p>
            <p></p>
            <p>VIII. ИЗПЪЛНЕНИЕ НА ДОГОВОРА</p>
            <p></p>
            <p>Чл. 19. (1) Доставчикът в платформата tigernubulgaria.com може да организира доставката и предаването на
                стоката на Ползвателя от съответен куриер в определения при сключването на договора срок.</p>
            <p></p>
            <p>(2) Ако срокът по ал. 1 не е изрично уговорен между страните при сключването на договора, Доставчикът
                организира доставката и предаването в разумен срок.</p>
            <p></p>
            <p>Чл. 20. (1) Ползвателят трябва да прегледа стоката в момента на доставката и предаването и ако не
                отговаря на изискванията да уведоми за това незабавно Доставчика в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(2) Ако Ползвателят не уведоми Доставчика в платформата tigernubulgaria.com съгласно ал. 1 стоката се
                смята за одобрена като съответстваща на изискванията, освен за скрити недостатъци.</p>
            <p></p>
            <p>Чл. 21. Доставчикът в платформата tigernubulgaria.com не се задължава да осигурят необходимия сервиз за
                стоката.</p>
            <p></p>
            <p>Чл. 22. За неуредените в този раздел случаи се прилагат правилата търговската продажба, определени в
                Търговския закон и Закона защита на потребителите.</p>
            <p></p>
            <p>ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</p>
            <p>Чл. 23. (1) Събирането, съхранението и обработването на лични данни се осъществява съобразно Политиката
                на Тайгърнът ЕООД за поверителност на личните данни, която можете да достъпите тук Политиката за
                поверителност.</p>
            <p></p>
            <p>(2) Въведените от Ползвателите лични данни са обект на защита по Закона за защита на личните данни и
                Общия регламент 2016/679 като Доставчикът ги обработва за целите и в сроковете, предвидени в Политиката
                за поверителност на личните данни .</p>
            <p></p>
            <p>(3) При съгласие на Ползвателя с Политиката за поверителност на личните данни, Ползвателят изрично
                потвърждава, че е съгласен Доставчикът да съхранява информация или получава достъп до информацията,
                съхранена в крайното устройство на Ползвателя за изчерпателно предвидените в нея цели и срокове.
                Ползвателят се съгласява, че Доставчикът може съхранява информация или получава достъп до информацията,
                съхранена в крайното устройство на Ползвателя и на други основания, посочени в Политиката за
                поверителност на личните данни .</p>
            <p></p>
            <p>(4) Ползвателят или Потребителят се съгласява, че Доставчикът на платформата tigernubulgaria.com има
                право да изпраща по всяко време електронни съобщения към Ползвателя или Потребителя, включително и
                бюлетин или предложения за покупка на стоки, докато е налице регистрация на Ползвателя или Потребителя в
                електронния магазин на Доставчика в платформата tigernubulgaria.com</p>
            <p></p>
            <p>(5) Ползвателят или Потребителят се съгласява, че Доставчикът на платформата tigernubulgaria.com има
                право да събира, съхранява и обработва данни да поведението на Ползвателя или Потребителя при
                използването на електронния магазин на Доставчика в платформата tigernubulgaria.com Ползвателят има
                право да възрази на съхраняването или достъпа до информацията по алинея 3 по предвидените в Политиката
                за поверителност на личните данни начини.</p>
            <p></p>
            <p>Чл. 24. (1) Във всеки момент, Доставчикът в платформата tigernubulgaria.com има право да изисква от
                Ползвателя да се легитимира и да удостовери достоверността на всяко едно от обявените по време на
                регистрацията обстоятелства и лични данни.</p>
            <p></p>
            <p>(2) В случай, че по някаква причина Ползвателят е забравил или изгубил своите име и парола, Доставчикът
                на платформата tigernubulgaria.com има право да приложи обявената "Процедура за изгубени или забравени
                имена и пароли", достъпна на адрес: tigernubulgaria.com</p>
            <p></p>
            <p>ИЗМЕНЕНИЕ И ДОСТЪП ДО ОБЩИТЕ УСЛОВИЯ</p>
            <p>Чл. 25. (1) Настоящите общи условия могат да бъдат изменяни от Доставчика на платформата
                tigernubulgaria.com, за което последният ще уведоми по подходящ начин всички регистрирани
                Ползватели.</p>
            <p></p>
            <p>(2) Доставчикът в платформата tigernubulgaria.com и Ползвателят се съгласяват, че всяко допълване и
                изменение на тези общи условия ще има действие спрямо Ползвателя в един от следните случаи:</p>
            <p></p>
            <p>А) след изричното му уведомяване от Доставчика в платформата tigernubulgaria.com и ако Ползвателят не
                заяви в предоставения му 14-дневен срок, че ги отхвърля; или</p>
            <p></p>
            <p>Б) след публикуването им на сайта на Доставчика в платформата tigernubulgaria.com и ако Ползвателят не
                заяви в 14-дневен срок от публикуването им, че ги отхвърля;</p>
            <p></p>
            <p>В) с изричното му приемане от Ползвателя чрез профила му в сайта на Доставчика в платформата
                tigernubulgaria.com</p>
            <p></p>
            <p>(3) Ползвателят се съгласява, че всички изявления на Доставчика в платформата tigernubulgaria.com, във
                връзка с изменението на тези общи условия ще бъдат изпращани на адреса на електронната поща, посочена от
                Ползвателя, при регистрацията. Ползвателят се съгласява, че електронните писма, изпратени по реда на
                този член не е необходимо да бъдат подписани с електронен подпис, за да имат действие спрямо него.</p>
            <p></p>
            <p>Чл. 26. Доставчикът публикува тези общи условия на адрес {terms_rul} заедно с всички допълнения и
                изменения в тях.</p>
            <p></p>
            <p>ПРЕКРАТЯВАНЕ</p>
            <p>Чл. 27. Настоящите общи условия и договора на Ползвателя с Доставчика в платформата tigernubulgaria.com
                се прекратяват в следните случаи:</p>
            <p></p>
            <p>при прекратяване и обявяване в ликвидация или обявяване в несъстоятелност на една от страните по
                договора;</p>
            <p>по взаимно съгласие на страните в писмен вид;</p>
            <p>при обективна невъзможност на някоя от страните по договора да изпълнява задълженията си;</p>
            <p>при изземване или запечатване на оборудването от държавни органи;</p>
            <p>в случай на заличаване на регистрацията на Ползвателя в платформата tigernubulgaria.com. В този случай
                сключените, но неизпълнени договори за покупко-продажба остават в сила и подлежат на изпълнение;</p>
            <p>Чл. 28. Доставчикът има право по свое усмотрение, без да отправя предизвестие и без да дължи обезщетение
                да прекрати едностранно договора, в случай че установи, че Ползвателят използва платформата
                tigernubulgaria.com в нарушение на настоящите общи условия, законодателството в Република България,
                общоприетите нравствени норми или общоприетите правила и практика в електронната търговия.</p>
            <p></p>
            <p>XII. ОТГОВОРНОСТ</p>
            <p></p>
            <p>Чл. 29. Ползвателят се задължава да обезщети и да освободи от отговорност доставчиците в платформата
                tigernubulgaria.com и Доставчика при съдебни искове и други претенции на трети лица (независимо дали са
                основателни или не), за всички щети и разходи (в това число адвокатски хонорари и съдебни разноски),
                произтичащи от или във връзка с (1) неизпълнение на някое от задълженията по този договор, (2) нарушение
                на авторски, продуцентски, права на излъчване или други права върху интелектуалната или индустриална
                собственост, (3) неправомерно прехвърляне на други лица на правата, предоставени на Ползвателя, за срока
                и при условията на договора и (4) невярно деклариране наличието или отсъствието на качеството потребител
                по смисъла на Закона за защита на потребителите.</p>
            <p></p>
            <p>Чл. 30. Доставчикът не носи отговорност в случай на непреодолима сила, случайни събития, проблеми в
                Интернет, технически или други обективни причини, включително и разпореждания на компетентните държавни
                органи.</p>
            <p></p>
            <p>Чл. 31. (1) Доставчикът не носи отговорност за вреди, причинени от Ползвателя на трети лица.</p>
            <p></p>
            <p>(2) Доставчикът не носи отговорност за имуществени или неимуществени вреди, изразяващи се в пропуснати
                ползи или претърпени вреди, причинени на Ползвателят в процеса на използване или неизползване на
                tigernubulgaria.com и сключване на договори за покупко-продажба с Доставчика.</p>
            <p></p>
            <p>(3) Доставчикът не носи отговорност за времето, през което платформата не е била достъпна поради
                непреодолима сила.</p>
            <p></p>
            <p>(4) Доставчикът не носи отговорност за вреди от коментари, мнения и публикации под продуктите, новините и
                статиите в платформата tigernubulgaria.com</p>
            <p></p>
            <p>Чл. 32. (1) Доставчикът не носи отговорност в случай на преодоляване на мерките за сигурност на
                техническото оборудване и от това последва загуба на информация, разпространение на информация, достъп
                до информация, ограничаване на достъп до информация и други сходни последствия.</p>
            <p></p>
            <p>(2) Доставчикът не носи отговорност в случай на сключване на договор за покупко-продажба, предоставяне на
                достъп до информация, загуба или промяна на данни настъпили вследствие на фалшива легитимация на трето
                лице, което се представя за Ползвателя, ако от обстоятелствата може да се съди, че това лице е
                Ползвателя.</p>
            <p></p>
            <p>XIII. ДРУГИ УСЛОВИЯ</p>
            <p></p>
            <p>Чл. 33. (1) Ползвателят и Доставчикът в платформата tigernubulgaria.com се задължават да защитават
                взаимно своите права и законни интереси, както и да пазят търговските си тайни, станали тяхно достояние
                в процеса на изпълнение договора и тези общи условия.</p>
            <p></p>
            <p>(2) Ползвателят и Доставчикът се задължават по време и след изтичане на периода на договора да не правят
                публично достояние писмена или устна кореспонденция проведена между тях. За публично достояние може да
                се смята публикуването на кореспонденция в печатни и електронни медии, интернет форуми, лични или
                публични уеб сайтове и др.</p>
            <p></p>
            <p>Чл. 34. В случай на противоречие между тези общи условия и уговорки в специален договор между Доставчика
                в платформата tigernubulgaria.com и Ползвателя, с предимство се прилагат клаузите на специалния
                договор.</p>
            <p></p>
            <p>Чл. 35. Евентуалната недействителност на някоя от разпоредбите на тези общи условия няма да води до
                недействителност на целия договор.</p>
            <p></p>
            <p>Чл. 36. За неуредените в този договор въпроси, свързани с изпълнението и тълкуването на този договор, се
                прилагат законите на Република България.</p>
            <p></p>
            <p>Чл. 37. Настоящите общи условия влизат в сила за всички Ползватели на tigernubulgaria.com.</p>
            <p></p>
            <p>Приложение № 1 - Стандартен формуляр за упражняване правото на отказ от договора</p>
            <p></p>
            <p>Стандартен формуляр за упражняване правото на отказ от договора:</p>
            <p></p>
            <p>(попълнете и изпратете настоящия формуляр единствено ако желаете да се откажете от договора)</p>
            <p></p>
            <p>– До (Тайгърнът ЕООД, гр. София 1715, ж.к. Младост, ул. Филип Аврамов, бл. 433, вх. 1, ет. 1, п.к. 30,
                tigernut.bulgaria@gmail.com):</p>
            <p></p>
            <p>– С настоящото уведомявам/уведомяваме*, че се отказвам/отказваме* от сключения от мен/нас* договор за
                покупка на следните стоки*/за предоставяне на следната услуга*</p>
            <p></p>
            <p>– Поръчано на*/получено на*</p>
            <p></p>
            <p>– Име на потребителя/ите</p>
            <p></p>
            <p>– Адрес на потребителя/ите</p>
            <p></p>
            <p>– Подпис на потребителя/ите (само в случай, че настоящият формуляр е на хартия)</p>
            <p></p>
            <p>– Дата</p>
            <p></p>
            <p>------------------------------------------------------</p>
            <p></p>
            <p>* Ненужното се зачертава.</p>
            <p></p>
            <p>Приложение № 2 - Информация относно упражняване правото на отказ от договора</p>
            <p></p>
            <p>Информация относно упражняване правото на отказ от договора</p>
            <p></p>
            <p>Стандартни указания за отказ:</p>
            <p></p>
            <p>Право на отказ от договора от разстояние или извън търговския обект.</p>
            <p>Имате право да се откажете от настоящия договор, без да посочвате причини за това, в срок 14 дни.</p>
            <p>Срокът за отказ е 14 дни считано от датата, на която Вие или трето лице, различно от превозвача и
                посочено от Вас, сте влезли във владение на стоките.</p>
            <p>За да упражните правото си на отказ, трябва да ни уведомите на контактните данни, посочени на
                tigernubulgaria.com и за решението си да се откажете от договора с недвусмислено заявление (например
                писмо, изпратено по пощата, факс или електронна поща).</p>
            <p>Можете да използвате приложения стандартен формуляр за отказ, но това не е задължително. Можете също така
                да попълните и подадете по електронен път стандартния формуляр за отказ или друго недвусмислено
                заявление за отказ на нашия уебсайт tigernubulgaria.com Ако използвате тази възможност, ние незабавно ще
                Ви изпратим на траен носител (например по електронна поща) съобщение за потвърждение на получаването на
                отказа.</p>
            <p>За да спазите срока за отказ от договора, е достатъчно да изпратите съобщението си относно упражняването
                на право на отказ преди изтичането на срока за отказ от договора.</p>
            <p></p>
            <p>Действие на отказа.</p>
            <p>Ако се откажете от настоящия договор, ние ще Ви възстановим всички плащания, които сме получили от Вас,
                включително разходите за доставка (с изключение на допълнителни разходи, свързани с избран от Вас начин
                на доставка, различен от най-евтиния стандартен начин на доставка, предлаган от нас), без неоправдано
                забавяне и във всички случаи не по-късно от 14 дни считано от датата, на която ни информирате за Вашето
                решение за отказ от настоящия договор. Ще извършим възстановяването по посочена от вас банкова сметка;
                във всеки случай това възстановяване няма да бъде свързано с никакви разходи за Вас.</p>
            <p>Имаме право да отложим възстановяването на плащанията до получаване на стоките обратно или докато не ни
                представите доказателства, че сте изпратили обратно стоките, в зависимост от това, кое от двете събития
                е настъпило по-рано.</p>
            <p>Вие трябва да поемете преките разходи по връщане на стоките. Разходите се очаква да не надвишат
                приблизително сумата за доставката или стандартната куриерска услуга.</p>
            <p>Вие отговаряте единствено за намаляване стойността на стоките вследствие на изпробването им, различно от
                необходимото за установяване на тяхното естество, характеристики и добро функциониране.</p>
            <p>Допълнителна потребителска информация вижте на tigernubulgaria.com</p>
        </div>
    </div>
</section>
{% endblock %}