{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span>Моите поръчки</span>
                </p>
                <h1 class="mb-0 bread">Моите поръчки</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="ftco-animate">
                <div class="row">
                    {% for order in object_list %}
                    <div class="d-flex ftco-animate">
                        <div class="align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div>Поръчка №: {{order.ref_code}}</div>
                                    <div>Дата: {{order.ordered_date}}</div>
                                    <div>Брой артикули: {{order.items.count}}</div>
                                    <div><a href="{% url 'view order' order.ref_code %}" class="btn btn-primary py-2 px-3">Виж</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}