{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'view home' %}">Начало</a></span> <span>Профил</span>
                </p>
                <h1 class="mb-0 bread">Профил</h1>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
        <img src="/media/{{user.userprofile.profile_image}}" clas="card-img">
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="card-body">
        <h5 class="card-title">
            {{page_user.date_of_birth}}
        </h5>
    </div>
</div>

</div>

{% endblock %}